<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/400');">

  <div class="card-body">
    <h2><%= cocktail.name %></h2>


    <%= link_to 'Show', cocktail_path(cocktail)%>
  </div>
</div>
