<h1 class="text-center"> My list of Cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">

        <%= render "cocktail", cocktail: c %>
      </div>

    <% end %>

  </div>
</div>

<p><%= link_to "New Cocktail", new_cocktail_path%></p>
